* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: "Kalam", cursive;
  background: white;
}

main {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-image: url(images/tsoy4.jpg);
  background-size: cover;
}

.nav-principal {
  width: 100%;
  height: 90px;
  background-color: black;
  list-style: none;
}

.foto-nav {
  height: 100px;
  width: 200px;
  float: left;
  position: relative;
  top: -13px;
}

.nav-items {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  margin-left: auto;
  align-items: center;
  width: 40%;
  height: 100%;
  color: white;
  text-decoration: none;
}

a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.2em;
  font-family: "Kalam", cursive;
}

a:hover,
a:active {
  color: #fdc806;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.8s ease;

}


/*reproductor*/

#reproductor {
  background-color: white;
  text-align: center;
  padding: 5em;
}

#period {
  -webkit-box-shadow: 3px 3px 5px 6px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 3px 3px 5px 6px #ccc; /* Firefox 3.5 - 3.6 */
  box-shadow: 3px 3px 5px 6px #ccc; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  border: 3px solid #fdc806;
}

#botonera {
  background-color: white;
  color: yellow;
  width: 100%;
}

#reiniciar,
#atras,
#adelante,
#reproducir {
  background-color: white;
  padding: 1em;
}

/* Remeras */

h1 {
  display: inline-block;
  margin-left: 37%;
  margin-bottom: 30px;
  border: 3px solid #fdc806;
}

.cabecera-cards {
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 30%;
  text-align: center;
  padding: 3%;
  border: solid 3px #fdc806;
}

.centrado {
  margin: 0 auto;
  padding: 0 0.8em;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  background: white;
  margin-bottom: 2em;
  width: 32%;
  border: solid 2px #fdc806;
}

.card:hover{
  background: linear-gradient(whitesmoke,white);
  transition: 1s;
}

.a-tienda {
  font-size: 1em;
  text-align: center;
  color: black;
}

.card-content {
  padding: 3em;
}

.card-content p {
  font-size: 1em;
  text-align: center;
  margin-bottom: 20px;
}

.img-card {
  height: 300px;
  width: 300px;
}

.en-linea {
  color: black;
}

.en-linea:hover {
  color: #fdc806;

}

/*reproductor 2*/
#reproductor2 {
  background-color: white;
  text-align: center;
  padding: 5em;
}

#period2 {
  -webkit-box-shadow: 3px 3px 5px 6px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 3px 3px 5px 6px #ccc; /* Firefox 3.5 - 3.6 */
  box-shadow: 3px 3px 5px 6px #ccc; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  border: 3px solid #fdc806;
}

#botonera2 {
  background-color: white;
  color: yellow;
  width: 100%;
}

#reiniciar2,
#atras2,
#adelante2,
#reproducir2 {
  background-color: white;
  padding: 1em;
}

/*canvas*/

#contenedor {
  position: relative;
  margin-left: 130px;
  margin-bottom: 40px;
  width: 100%;
  height: 500px;  
  cursor: pointer;

}

#lienzo{
  background: url(images/grid.jpg);
  margin-left: 20px;
  margin-bottom: 170px;
}


/*logo en svg*/

svg {
  display: inline-block;
  width: 150px;
  stroke: black;

}

svg:hover {
  stroke: white;
}



path {
  fill:none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 5px;
  transition: 1s;
}


.letter--k {
  width: 200px;
  margin-left: 280px;
  margin-right:-60px;
}

.letter--i {
  width: 200px;
  height: 250px;
}

.letter--h{
  width:190px;
  height: 270px;
}

.corazon{
  width:250px;
  height:270px;
  stroke: red;
}



/*gif*/

.gif{
  text-align: center;
  margin-top: 70px;
  margin-bottom: 70px;
}

/*footer*/

#footer {
  padding: 7% 15%;
  text-align: center;
  background: black;
  color: #fdc806;
  margin-top: 30px;
}

.social-icon {
  margin: 20px 10px;
}
