* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

body {
  background-image: url(images/tsoy24.jpg);
  background-size: cover;
  font-family: "Kalam", cursive;
  font-size: 16px;
}

.nav-principal {
  width: 100%;
  height: 90px;
  background-color: black;
  list-style: none;
}

.foto-nav {
  height: 100px;
  width: 200px;
  float: left;
  position: relative;
  top: -13px;
}

.nav-items {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  margin-left: auto;
  align-items: center;
  width: 40%;
  height: 100%;
  color: white;
  text-decoration: none;
}

a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.2em;
  font-family: "Kalam", cursive;
}

a:hover,
a:active {
  color: #fdc806;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.8s ease;

}

.container {
  margin-top: 80px;
  margin-left: 120px;
  float: left;
  padding: -2em;
}

.caja-titulo {
  display: block;
  margin-left: 85px;
  margin-bottom: 30px;
}

h2 {
  color: white;
  font-size: 1.2em;
}

.form {
  display: inline-block;
  width: 30%;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  padding: 1.25em;
  border-radius: 5px;
}

input {
  margin: 0 0 0.4em 0;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.01);
  border: 0;
  border-bottom: 5px solid rgba(0, 0, 0, 0.12);
  line-height: 40px;
}

[type="text"] {
  padding-left: 1em;
}

[type="number"] {
  padding-left: 1em;
}

[type="date"] {
  padding-left: 1em;
}

[type="email"] {
  padding-left: 1em;
}

[type="submit"] {
  color: white;
  background-color: #2980b9;
  font-weight: 600;
  margin-top: 10px;
}

.text-right {
  color: yellow;
  margin-top: 15px;
  align-items: center;
  padding: 10px;
}

#btnSave {
  background: #3d85c6;
  background: linear-gradient(#3d85c6, #073763);
  border-radius: 5px;
  padding: 8px 20px;
  color: #ffffff;
  display: inline-block;
  font: normal bold 15px/1 "Calibri", sans-serif;
  text-align: center;
  text-shadow: 1px 1px #000000;
  cursor: pointer;
}

#btnSave:hover{
  background: #073763;
}

#btn {
  background: #3d85c6;
  background: linear-gradient(#3d85c6, #073763);
  border-radius: 5px;
  padding: 8px 20px;
  color: #ffffff;
  display: inline-block;
  font: normal bold 15px/1 "Calibri", sans-serif;
  text-align: center;
  text-shadow: 1px 1px #000000;
  cursor: pointer;
}

#btn:hover{
  background:#073763;
}

.table {
  float: right;
  color: white;
  width: 45%;
  table-layout: fixed;
  position: relative;
  margin-right: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}

.table td,
.table th {
  border: 1px solid white;
  text-align: center;
}

#finalizarCompra {
  position: absolute;
  background: #3d85c6;
  background: linear-gradient(#3d85c6, #073763);
  border-radius: 5px;
  padding: 8px 20px;
  color: #ffffff;
  display: inline-block;
  font: normal bold 15px/1 "Calibri", sans-serif;
  text-align: center;
  text-shadow: 1px 1px #000000;
  margin-left: 670px;
  margin-top: 270px;
  cursor: pointer;
}

#finalizarCompra:hover{
  background:#073763;
}
